.container {
  background-color: #fff;
  padding: 10px 30px;
  color: #21b0cc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  height: 100px;

  .logo {
    a {
      text-decoration: none;
      color: #21b0cc;
    }
    span {
      color: #ffbd22;
    }
  }

  .links {
    ul {
      list-style: none;
      display: flex;
      gap: 20px;

      li a {
        text-decoration: none;
        color: #21b0cc;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 728px) {
  .container {
    flex-direction: column;
  }
}
