.hotels {
    max-width: 1400px;
    margin: 50px auto;
  
    .title {
      color: #21B0CC;
      font-weight: bold;
      margin-left: 10px;
      font-size: 40px;
  
      span {
        color: #FFBD22;
      }
    }
  
    .hotels-4x {
      display: flex;
      flex-wrap: wrap;
  
      div {
        margin: 10px;
      }
    }
  }

  .paginationBttns {
    width: 80%;
    margin: 40px auto;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  
    a {
      padding: 10px;
      margin: 8px;
      border-radius: 5px;
      color: #fff;
      background-color: #FFBD22;
      cursor: pointer;
    
      &:hover {
        background-color: #ca920e;
      }
    }

    .pagination-active {

      a {
        background-color: #21B0CC;
      }
    }
  }

  @media only screen and (max-width: 728px) {
    .hotels {
  
      .title {
        display: flex;
        justify-content: center;
        
        span {
          margin-left: 10px;
        }
      }
  
      .hotels-4x {
        align-items: center;
        flex-direction: column;
      }
    }
  }